/* Color palette
------------------------------------
#FFF9F8 - snow //background
#383A4E - charcoal //text
#AF708B - turkish rose //link, current
#303633 - jet 

#DB93B0 - thulian pink 
#B8336A - rich maroon
#626CD6 - slate blue
#2C6A7F - dark green
#EADECE - almond
#85ADBF - pewter blue
#E3AE91 - tumbleweed
#FDEBD3 - moccasin

------------------------------------*/

/* Document styles
------------------------------------*/
html {
	box-sizing: border-box;
}
h1 {
	font-family: 'Playfair Display', serif;

	font-size: 64px;
	line-height: 72px;
	letter-spacing: 0.1em;
	font-feature-settings: 'pnum' on, 'lnum' on; 
}
h2 {
	font-family: 'Playfair Display', serif;
	font-size: 32px;
	line-height: 48px;
	letter-spacing: 0.1em;
	font-feature-settings: 'pnum' on, 'lnum' on;
}
h3 {
	font-family: 'Poppins', sans-serif;
	font-size: 32px;
	line-height: 51px;
	letter-spacing: 0.1em;
}
h4 {
	font-family: 'Poppins', sans-serif;
	font-size: 16px;
	font-weight: bold;
	display: block;
	text-transform: capitalize;
}
body {
	background: #FFF9F8;
    margin: 0;
    padding: 0;
	font-family: 'Poppins', sans-serif;
	font-size: 16px;
	color: #383A4E;
	line-height: 31px;
	letter-spacing: 0.1em;
}
a:link {
    color: #AF708B;
	text-decoration: none;
}
a:visited {
    color: #AF708B;
	text-decoration: none;
}
a:hover {
    text-decoration: bold;
}
.text-left {
    text-align: left;
}
.text-right {
    text-align: right;
}

/* Navigation
------------------------------------*/

.header-nav-wrap {
    font-family: "Poppins", sans-serif;
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: .25rem;
    position: absolute;
    top: 9px;
    right: 50px;
}
.header-nav {
    display: inline-block;
    list-style: none;
    margin: 0;
    height: 72px;
}
.header-nav li {
    display: inline-block;
    padding-left: 0;
    margin-right: 2rem;
}
.header-nav li a {
    display: block;
    line-height: 72px;
    color: #383A4E;
}
.header-nav li.current a {
    font-family: "Poppins", sans-serif;
	font-weight: bold;
    color: #AF708B;
}

/* Header
------------------------------------*/
.header-logo {
    display: inline-block;
    position: absolute;
    margin: 12px;
    padding: 0;
    left: 50px;
	border-radius: 10px;
}
.header-logo a {
    display: block;
    margin: 9px 0 0 0;
    padding: 0;
    outline: 0;
    border: none;
    width: 80px;
}
.header {
    width: 100%;
    height: 72px;
    background-color: transparent;
    position: absolute;
    top: 0;
}


/* Home
------------------------------------*/
.home h2 {
	color: #AF708B;
}
.homepage-text {
	max-width: 1000px;
	height: 50%;
	justify-content: center;
	padding: 25px;
}
.home-flex-container{
	margin-top: 10%;
	margin-bottom: 10%;
	padding: 5%;
	display: flex;
	flex-direction: row;
	justify-content: center;
	width: auto;
	text-align: left
}
.Sara {
	max-width: 250px;
  	height: auto;
	justify-content: center;
	margin-right: 60px; 
	border-radius: 30px
}
	
/* About
------------------------------------*/

.about {
    background-color: #383A4E;
	color: #FFF9F8;
	margin: auto;
	padding: 5% 20% 10% 20%;
	justify-content: center;
	position: relative;
}

.about-title {
    margin: 0;
	text-transform: uppercase;
	text-align: center
}

.about h2 {
	color: #AF708B;
}

/* Resume
------------------------------------*/

.resume {
	max-width: 1200px;
	width: auto;
	margin:0 auto 5% auto;
	padding: 0 5% 0 5%;
	justify-content: center;
	position: relative;
	text-align: left;
}

.resume-flex-container{
	margin: auto;
	padding: auto;
	display: flex;
	flex-direction: row;
	justify-content: center;
	width: auto;
	text-align: left
}

.resume-text {
	font-size: 16px;
    text-align: left;
	width: 100%;
}

.resume-block {
    position: relative;
    min-height: 250px;
	margin-bottom: 10%;
}

.resume-item {
    background: #383A4E;
    height: 1rem;
    width: 1rem;
    border-radius: 50%;
    margin-left: -20%;
    position: absolute;
    left: 20px;
    top: 32px;
}

.resume-header .resume-timeframe {
    font-family: "Poppins", sans-serif;
	font-size: 14px;
    line-height: 1.5;
	margin: auto;
    text-transform: uppercase;
    letter-spacing: .15rem;
     
}

.resume-title {
    margin-top: 10%;
	color: #AF708B;
	text-transform: uppercase;
	text-align: center
}

.resume-header h2 {
	color: #AF708B;
    line-height: 1.25;
    margin-bottom: 5%;
}

.resume-header h4 {
    margin: 0;
}

.resume .left {
	width: 50%;
    padding-right: 10%;
}

.resume .right {
	width: 50%;
    padding-left: 10%;
}

/* Portfolio
------------------------------------*/
.portfolio {
	background-color:#383A4E;
	width: auto;
	padding: 10% 5% 10% 5%;
	justify-content: center;
	position: relative;
	text-align: left;
}
.portfolio-title {
    margin-bottom: 5%;
	color: #FFF9F8;
	text-transform: uppercase;
	text-align: center
}
.portfolio h2 {
    margin: 5% 0 5% 11%;
	color: #AF708B;
}
.portfolio h4{
	color:#FFF9F8;
	text-transform: uppercase;
	text-align: center;
}
.portfolio-flex-grid {
	display: flex;
	justify-content: space-between;
	width: 80%;
	max-width: 1200px;
	margin: auto;
}
.bespoke {
    flex: 1;
	max-width: 250px;
}
.processing {
	flex: 1;
	max-width: 250px;
}
.research {
	flex: 1;
	max-width: 250px;
}
.vid {
	flex:1;
	max-width: 250px;
}

/* Portfolio Details
------------------------------------*/
.portfolio-item {
	overflow: hidden;
}
.portfolio-item h3 {
	margin-top: 0;
}
.portfolio-item a {
	color: #383A4E; /* charcoal */
}
.image-big{
  	display: block;
  	width: 33%;
}
.content-wrap {
	max-width: 800px;
	width: 85%;
	margin: 0 auto;
	padding: 60px 0;
}
.divider > section {
  	border-bottom: 1px dashed #343434;
  	padding: 25px 0;
}
.divider > section:last-of-type {
  	border-bottom: none;
}
.top-flex-container {
	display: flex;
	flex-direction: row;
	margin: 5% auto 5% auto;
	padding: 5%;
	justify-content: center;
	width: 80%;
	text-align: left
}
.top-text {
	max-width: 1000px;
	height: 50%;
	justify-content: center;
	padding: 25px;
	margin-top: 10%;
}

